{% if not user_authorized %}
  <div>
    <a href="/user/auth/">Вход в систему</a>
    <p>{{ auth_error }}</p>
  </div>
{% else %}
  <p>Добро пожаловать на сайт {{ userName }}!</p>
  <p>
    <a href="/user/logout/">Выйти из системы</a>
  </p>
{% endif %}
