{% if not user_authorized %}
  <div>
    <a href="/user/auth/" class="btn btn-primary me-2">Войти</a>
  </div>
  {% if auth_error != '' %}
    <script>
      alert('{{ auth_error }}')
    </script>
  {% endif %}
{% else %}
  <div>
    <a href="/user/logout/" class="btn btn-outline-primary me-2">Выйти из системы</a>
  </div>
  <!-- <p>Добро пожаловать на сайт {{ userName }}!</p> -->
{% endif %}
