<header class="header">
  <h1>Наша шапка</h1>
  <h3>Текущее время по Гринвичу - {{ date()|date('H:m:s') }}</h3>
  <p>
    <a href="/user/auth/">Войти</a>
  </p>
  <p>
    <a href="/user/logout/">Выйти из системы</a>
  </p>
</header>
